<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-3 mb-lg-0">
      <!-- Card -->
      <article class="card h-100">
        <div class="w-sm-65 p-4">
          <h3>Explore the Snippets tools</h3>
          <div class="mb-4">
            <p>Start your business on various platforms with one click.</p>
          </div>
          <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="#">Find out More <i class="fas fa-angle-right ml-1"></i></a>
        </div>

        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
          <img class="img-fluid" src="/assets/svg/illustrations/support-man.svg" alt="Image Description">
        </div>
      </article>
      <!-- End Card -->
    </div>

    <div class="col-lg-6">
      <!-- Card -->
      <article class="card h-100">
        <div class="w-sm-65 p-4">
          <h3>Front gives every team the freedom to create</h3>
          <div class="mb-4">
            <p>Evaluate your options better and learn more about them.</p>
          </div>
          <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="#">Find out More <i class="fas fa-angle-right ml-1"></i></a>
        </div>

        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
          <img class="img-fluid" src="/assets/svg/illustrations/list-app.svg" alt="Image Description">
        </div>
      </article>
      <!-- End Card -->
    </div>
  </div>
</div>