    <div class="position-relative text-center">
      <div class="container space-2 space-top-lg-3 space-bottom-lg-4">
        <!-- Title -->
        <div class="w-md-60 mx-md-auto mb-5 mb-md-7">
          <p>Good slack meetings is still in beta phase.</p>
          <h2 class="h1">Would you like to contribute?</h2>
        </div>
        <!-- End Title -->

        <!-- Subscribe Form -->
        <div class="w-md-75 w-lg-50 mx-md-auto">
          <form class="js-validate mb-3">
            <div class="form-row">
              <div class="col-sm-8 mb-2">
                <div class="js-form-message">
                  <label class="sr-only" for="signupSrEmail">Your email</label>
                  <div class="input-group input-group-pill">
                    <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Your email" aria-label="Your email" required
                           data-msg="Please enter a valid email address.">
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-pill btn-wide">Submit</button>
              </div>
            </div>
          </form>

          <p>Thanks, I will be in touch.</p>
        </div>
        <!-- End Subscribe Form -->

        <!-- SVG Illustration -->
        <div class="d-none d-lg-block position-absolute bottom-0 left-0 max-w-35rem w-100">
          <img class="img-fluid" src="/assets/svg/illustrations/mobile-article.svg" alt="Image Description">
        </div>
        <!-- End SVG Illustration -->
      </div>
    </div>
